{% extends 'base_admin.html.twig' %}

{% block title %}User index - {{ parent() }}{% endblock %}

{% block body %}
    <h1>User index</h1>
    <p class="text-right">
        <a href="{{ path('user_new') }}" role="button" class="btn btn-danger">
            <i class="fas fa-users-cog mr-2"></i>Create new
        </a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a href="{{ path('user_edit', {'id': user.id}) }}">
                        <i class="fas fa-edit mr-2"></i> Edit</a>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
