{% extends 'base.html.twig' %}

{% block title %}Welcome ! - {{ parent() }}{% endblock %}

{% block body %}
    <header class="masthead text-center text-white d-flex">
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h1>Maecenas semper vel turpis sed.</h1>
                    <hr>
                </div>
                <div class="col-lg-8 mx-auto">
                    <p class="text-faded p-2 mb-4">
                        Nunc consequat velit enim. Pellentesque at justo in orci mattis accumsan at quis ligula.
                        Curabitur ut turpis est. Praesent rhoncus purus eu ex ullamcorper, ut ullamcorper velit
                        placerat.
                    </p>
                    <a class="btn btn-danger btn-xl js-scroll-trigger" href="#about">
                        <i class="fas fa-chevron-down mr-2"></i> Discover
                    </a>
                </div>
            </div>
        </div>
    </header>

    <section class="p-lg-5 p-3 pt-5" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <h2>{{ aboutUs.title }}</h2>
                    <p class="py-3">
                        {{ aboutUs.shortDescription }}
                    </p>
                    <p class="text-right">
                        <a href="{{ path('cms', {'cms_type': 'aboutus'}) }}" role="button" class="btn btn-danger">
                            <i class="fas fa-book mr-2"></i>
                            Our history
                        </a>
                    </p>
                </div>
                <div class="col-lg-6 col-12 text-center align-self-center">
                    <img src="{{ vich_uploader_asset(aboutUs, 'imageHomeFile') }}"
                         class="rounded img-thumbnail" alt=""/>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-danger section-secondary p-lg-5 p-3 pt-5">
        <div class="container">
            <div class="row">
                <div class="col-12 mb-3">
                    <h2>Performers</h2>
                </div>
                <div class="col-12">
                    {% include 'performer/_list_performers.html.twig' %}
                    <div class="row">
                        <div class="col-12 mt-3 text-center">
                            <a href="{{ path('cms', {'cms_type': 'performers'}) }}" role="button" class="btn btn-dark">
                                <i class="fas fa-users mr-2"></i> See more performers</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {#{% include 'performer/_modal_performers.html.twig' %}#}

{% endblock %}
