<section class="contact-us bg-danger section-secondary p-lg-5 p-3 pt-5" id="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-3">
                <h2>Contact Us</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-12 px-0">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="card border mb-3 shadow">
                                <div class="card-body">
                                    <h5 class="card-title text-danger"><i class="fas fa-map-marker-alt"></i> Wild Circus
                                    </h5>
                                    <div class="card-text mt-3">
                                        <p class="mb-0">1 provinciae inposito</p>
                                        <p class="mb-0">45000 Parthos</p>
                                        <p class="mb-0">
                                            <i class="fas fa-phone-volume"></i> 985-625-325
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="card border shadow">
                                <div class="card-body">
                                    <h5 class="card-title text-danger"><i class="far fa-grin-wink"></i> Follow us</h5>
                                    <div class="card-text mt-3">
                                        <p class="mb-0 btn"><i class="fab fa-facebook-f"></i> Facebook</p>
                                        <p class="mb-0 btn"><i class="fab fa-twitter"></i> Twitter</p>
                                        <p class="mb-0 btn"><i class="fab fa-instagram"></i> Instagram</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-12 mt-lg-0 mt-3">
                <div class="card border mb-3 shadow">
                    <div class="card-body pb-0">
                        <h5 class="card-title text-danger"><i class="far fa-envelope"></i> Send a message</h5>
                        <div class="card-text mt-3">
                            {{ form_start(contactUs, {'attr': {'id': 'form_contact_us'}}) }}
                            {{ form_widget(contactUs) }}
                            <div class="form-group text-center">
                                <button class="btn btn-danger">
                                    <i class="fab fa-telegram-plane mr-2"></i> {{ button_label|default('Send') }}
                                </button>
                                <p class="sending-in-progress btn btn-warning d-none mb-0">
                                    <i class="fab fa-telegram-plane mr-2"></i> Sending in progress
                                </p>
                                <p class="message-sent btn btn-success d-none mb-0">
                                    <i class="fab fa-telegram-plane mr-2"></i> Message sent !
                                </p>
                                <p class="message-sent-error btn btn-danger d-none mb-0">
                                    <i class="fab fa-telegram-plane mr-2"></i> An error was occured :(
                                </p>
                            </div>
                            {{ form_end(contactUs) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-12 mt-lg-0 mt-3">
                <div class="card border mb-3 shadow">
                    <div class="card-body">
                        <h5 class="card-title text-danger"><i class="fas fa-ellipsis-h"></i></h5>
                        <div class="card-text">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link"
                                       href="{{ path('cms', {'cms_type': 'aboutus'}) }}">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link"
                                       href="{{ path('cms', {'cms_type': 'performers'}) }}">Performers</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link"
                                       href="{{ path('cms', {'cms_type': 'performances'}) }}">Performances</a>
                                </li>
                                <li>
                                    <hr>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Terms & Conditions</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>